* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.transaction {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 15px;
  max-width: 500px;
  min-width: 300px;
  width: 50vw;
}

.transaction h3 {
  margin: 0;
  font-size: 1.2em;
}

.transaction p {
  margin: 5px 0;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* Light overlay color */
  backdrop-filter: blur(5px); /* Background blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200; /* Ensure it overlays everything */
}

.loading {
  font-size: 24px;
  color: #6c63ff; /* Color for the loading text */
}

/* Error message styling */
.error {
  text-align: center;
  font-size: 20px;
  color: red;
  margin-top: 20px;
}

.floating-navbar {
  position: fixed;
  bottom: 15px;
  width: 90%;
  max-width: 600px;
  left: 0;  
  right: 0; 
  margin: 0 auto; 
  background-color: #1f1c4a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}  

.floating-navbar button {
  background-color: #1f1c4a;
  color: white;
  border: none;
  width: 33%;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.floating-navbar button:hover {
  background-color: #6c63ff; /* Softer, appealing color */
  transform: scale(1.02); /* Slight scaling effect */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Slight shadow for a "lifted" effect */
}

.floating-navbar button:active {
  transform: scale(1); /* Reset scaling on click */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); /* Reduced shadow when pressed */
}

/* Add blur effect to the background content only when modal is open */
.blur-background {
  filter: blur(5px);
  pointer-events: none; /* Disable interactions with background content */
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 200; /* Ensure modal is above other content */
}

/* Modal Styling */
.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Header styling */
.header {
  padding: 20px;
  background-color: #1f1c4a;
  color: white;
  text-align: center;
}

/* Form group styling */
.form-group {
  margin: 15px 0;
}

input[type="text"] {
  margin-left: 10px;   
  width: 60%;                   
  padding: 5px;      
  border: 1px solid #ccc;        
  border-radius: 6px;    
  outline: none;        
  font-size: 14px;   
  transition: border-color 0.3s, box-shadow 0.3s; 
}

/* Remove number input arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  margin-left: 10px;   
  width: 80px;                   
  padding: 5px;      
  border: 1px solid #ccc;        
  border-radius: 6px;    
  outline: none;        
  font-size: 14px;   
  transition: border-color 0.3s, box-shadow 0.3s; 
}

input[type="text"]:focus,
input[type="number"]:focus,
.request-button:hover {
  border-color: #6c63ff;           /* Highlighted border color on focus */
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5); /* Soft purple shadow */
}

.function-btn {
  background-color: #837dff;
  color: white;
  border: none;
  padding: 7px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.function-btn:hover {
  background-color: #5a52e0; /* Darker shade on hover */
}

.button-row {
  display: flex;
  justify-content: space-around;
}

/* Submit button styling */
.submit-btn {
  background-color: #5b53ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #5a52e0; /* Darker shade on hover */
}

.group-members,
.payer-selection,
.people-involved-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 15px;
  border: 2px solid #ccc; 
  border-radius: 12px; 
  background-color: #f9f9f9; 
}

.request-button {
  margin-left: 10px;
  padding: 2px;
  border: 1px solid #ccc;        
  border-radius: 3px;     
  transition: border-color 0.3s, box-shadow 0.3s; 
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  background: none;
  color: black;
  border: none;
  cursor: pointer;
}