.joingroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  background-color: #f4f4f9;
}

.joingroup .header {
  background: linear-gradient(135deg, #6c63ff, #1f1c4a);
  max-height: 20vh;
  padding: 5vh 5vh;
  color: white;
  text-align: center;
  position: relative;
}

.joingroup .hamburger {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.joingroup .body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: start; 
}

.joingroup .group-input {
  margin-top: 20px;
  width: 70%;
  max-width: 800px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.joingroup .group-input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.3);
}

.joingroup .search-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #837dff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.joingroup .search-btn:hover {
  background-color: #6c63ff;
}

.joingroup .error {
text-align: center;
font-size: 20px;
color: red;
margin-top: 20px;
}

.joingroup .found-group-name {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.joingroup .found-group-name h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.joingroup .request-btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: #5b53ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.joingroup .request-btn:hover {
  background-color: #6c63ff;
}







